.login-box {
    margin: 1rem 0 0 0;
}

.login-illustration {
    width: 100%;
}

.register-illustration {
    height: 265.31px;
}

.register-left-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox input {
    top: -3px;
}

.first-form-item {
    margin-top: 0;
}

.ant-btn-lg {
    width: 100%
}

.login-form-forgot {
    float: right;
}

a {
    color: #1c94e0;
}

.remember-password-box .already-user {
    margin-top: 32px;
    padding-top: 27px;
    padding-bottom: 0;
    font-size: 14px;
    border-top: 1px solid #edf0f2;
}