
.video-cover {
    max-width: 100%;
    border-radius: 1rem;
  }

.culture {
    background-color: #FFF;
    padding: 6rem 4rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 361px) {
    
        .culture {
            padding: 3rem 2rem 2rem 2rem;
            align-items: baseline;
        }
}
  
  
  @media screen and (max-width: 320px) {
    
        .culture {
            padding: 2rem 2rem;
            align-items: baseline;

        }
}
  
  .culutre-box {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .culture .culutre-small-box {
      margin-right: 50px;
  }
  
  .culture .col-sm-7 {
      margin-right: 50px;
  }
  
  @media screen and (max-width: 768px) {
      .culutre-box {
          display: block;
      }
  }

  @media screen and (max-width: 445px) {
    .culture .culutre-small-box {
        margin-right: 0;
    }

    .culture .col-sm-7 {
        margin-right: 0;
        margin-top: 50px;
    }

    .culutre-box {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* @media screen and (max-width: 445px) {
    .culture .culutre-small-box {
        margin-right: 0;
    }

    .culture .col-sm-7 {
        margin-right: 0;
        margin-top: 50px;
    }

    .culutre-box {
        display: flex;
        flex-direction: column-reverse;
    }
} */

@media screen and (max-width: 320px) {
    .culture .col-sm-7 {
        margin-right: 0;
        margin-top: 20px;
    }
}
  
  /* .culture .culutre-box p {
      font-weight: 300;
      color: #787878;
  }
   */
   .culture .culutre-box h3 {
      font-weight: 500;
  }

.box-img-shadow img {
    position: relative;
    z-index: 100;
}

.box-img-shadow::after {
    content: '';
    position: absolute;
    /* z-index: 1; hide shadow behind image */
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);                
    width: 70%; 
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 1px;
}

.js-modal-btn:hover {
    cursor: pointer;
}

.mouse-box-inverse .mouse {
    height: 30px;
    width: 22px;
    border-radius: 10px;
    transform: none;
    top: 170px;
    border: 2px solid black;
}

.mouse-box-inverse .wheel {
    -webkit-animation: mouse-wheel 1.2s ease infinite;
    -moz-animation: mouse-wheel 1.2s ease infinite;
    height: 5px;
    width: 2px;
    display: block;
    margin: 7px auto;
    position: relative;
    background: black;
}

.mouse-box-inverse  span {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: block;
    width: 9px;
    height: 9px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 5px 0 3px 6px;
}


.mouse-box-inverse {
    position: absolute;
    left: 50%;
    top: 85%;

}