.video-cover {
    max-width: 100%;
    border-radius: 1rem;
}

.culture {
    background-color: #FFF;
    padding: 6rem 4rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .culture {
        padding: 6rem 1rem 2rem 1rem;
        align-items: baseline;
        height: auto;
    }
}

.culutre-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.culture .culutre-small-box {
    margin-right: 50px;
}

.culture .col-sm-7 {
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .culutre-box {
        display: block;
    }
}

@media screen and (max-width: 445px) {
    .culture .culutre-small-box {
        margin-right: 0;
    }

    .culture .col-sm-7 {
        margin-right: 0;
        margin-top: 50px;
    }

    .culutre-box {
        display: flex;
        flex-direction: column-reverse;
    }

    .culture .col-sm-4 {
        width: 100%;
    }

    .video-react-video {
        border-radius: 1rem;
    }
}

/* @media screen and (max-width: 445px) {
    .culture .culutre-small-box {
        margin-right: 0;
    }

    .culture .col-sm-7 {
        margin-right: 0;
        margin-top: 50px;
    }

    .culutre-box {
        display: flex;
        flex-direction: column-reverse;
    }
} */

@media screen and (max-width: 320px) {
    .culture .col-sm-7 {
        margin-right: 0;
        margin-top: 20px;
    }
}

.culture .culutre-box h3 {
    font-weight: 500;
}

.box-img-shadow .video-react-fluid {
    position: relative;
    z-index: 100;
}

.box-img-shadow::after {
    content: '';
    position: absolute;
    /* z-index: 1; hide shadow behind image */
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    width: 70%;
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 1px;
}

.js-modal-btn:hover {
    cursor: pointer;
}

.mouse-box-inverse .mouse {
    height: 30px;
    width: 22px;
    border-radius: 10px;
    transform: none;
    top: 170px;
    border: 2px solid black;
}

.mouse-box-inverse .wheel {
    -webkit-animation: mouse-wheel 1.2s ease infinite;
    -moz-animation: mouse-wheel 1.2s ease infinite;
    animation: mouse-wheel 1.2s ease infinite;
    height: 5px;
    width: 2px;
    display: block;
    margin: 7px auto;
    position: relative;
    background: black;
}

.mouse-box-inverse  span {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: block;
    width: 9px;
    height: 9px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 5px 0 3px 6px;
}


.mouse-box-inverse {
    position: absolute;
    left: 48%;
    top: 85%;
}

@media screen and (max-width: 768px) {
    .mouse-box-inverse {
        display: none;
    }
}

/*
    全局浮现效果
*/

.slideanim {visibility:hidden;}

@media screen and (max-width: 768px) {
    .slideanim {
        visibility: visible;
    }
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.video-react .video-react-video {
    border-radius: 1rem;
    outline: none;
}

.box-img-shadow .video-react-fluid {
    border-radius: 1rem;
    outline: none;
}

.video-react-control-bar {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.video-react .video-react-big-play-button {
    display: none;
}

.video-react .video-react-poster {
    background-size: cover;
}


@media screen and (max-width: 320px) {
    .video-react .video-react-control {
        width: 3rem;
    }
}

.video-react-fullscreen .video-react-video {
    border-radius: 0;
}