@import './moda-video.scss';

body {
    max-width: 100%;
    overflow-x: hidden;
}

.responsive-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}


@media screen and (max-width: 768px) {
    .col-sm-5 {
        text-align: center;
        margin: 25px 0;
    }
}

.container-fluid {
    z-index: 3;
    position: relative;
}


.unify-main-page {
    font-weight: 300;
    color: #787878;
    line-height: 2.3rem;
}

.sector-title {
    color: #ff5542;
    margin: 0 0 30px 0;
}

@media screen and (max-width: 441px) {
    .sector-title {
        font-size: 2rem;
    }

    .unify-main-page {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 414px) {
    .sector-title {
        font-size: 1.5rem;
        margin: 0 0 7px 0;
    }

    .unify-main-page {
        font-size: 1rem;
    }
}

@media screen and (max-width: 361px) {
    .sector-title {
        font-size: 1.5rem;
        margin: 0 0 7px 0;
    }

    .unify-main-page {
        font-size: 1rem;
    }
}


@media screen and (max-width: 320px) {

    .sector-title {
        font-size: 1.2rem;
        margin: 0 0 7px 0;
    }

    .unify-main-page {
        font-size: 0.5rem;
        line-height: 2rem;
    }
}
















/*
    全局浮现效果
*/

.slideanim {visibility:hidden;}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

