

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}

.navbar-default .navbar-toggle .icon-bar:focus, .navbar-default .navbar-toggle .icon-bar:hover {
    color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.culture {
  background-color: #f6f6f6;
  padding: 0 6rem 0 6rem;
  display: flex;
  align-items: center;
}

.video-cover {
  max-width: 100%;
  border-radius: 1rem;
}

.jumbotron {
    color: #fff;
    padding: 100px 25px;
}
@media screen and (max-width: 768px) {
    .col-sm-5 {
        text-align: center;
        margin: 25px 0;
    }
}

.map {
    max-width: 100%;
    border-radius: 1rem;
}

.goods {
    background-color: #f6f6f6;
}

.sector-title {
  color: #ff5542;
  text-align: center;
  padding: 3rem;
}

.commitments {
  padding: 10%;
}

.commit {
  padding: 5rem;
}

footer {
  color: white;
  background-color: #FF9488;
  padding: 20px;
}

.declaration {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: normal;
}