

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}

.navbar-default .navbar-toggle .icon-bar:focus, .navbar-default .navbar-toggle .icon-bar:hover {
    color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}


.navbar {
    background-color: rgba(255, 255, 255, 0.8); 
}

.navbar-transparent {
    background-color: transparent;
}

.nav-operation {
  color: white;
  font-size: large;
  font-weight: 350;
}


/*

    login button
*/

.navbar>.container .navbar-brand {
    margin-left: 20px;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand {
        margin-left: -5px;
    }
}

#login-button {
    padding: 6px 16px;
    top: 1.5px;
}

.navbar-transparent #login-button {
    border: 1px solid #FFF;
    border-radius: 100px;
}


.nav .navbar-nav li a:hover, .nav .navbar-nav li.active a {
    background-color: transparent;
}

@media screen and (max-width: 991px) {
    #login-button {
        padding: 6px 16px;
        border: 1px solid #FFF;
        border-radius: 100px;
        top: 1.5px;
        left: 24px;;
    }
}

svg path {
    fill: transparent;
}

.logo {
    margin-top: -15px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
}

.navbar-nav li a img:hover, .navbar-nav li.active a img {
    color: #f4511e !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-transparent .navbar-nav > li > a:not(.btn), [class*="navbar-ct"] .navbar-nav > li > a:not(.btn) {
    font-size: 22px;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
    font-size: 19px;
}

.culture {
  background-color: #f6f6f6;
  padding: 6rem 4rem;
}

.culture-title {
    color: #ff5542;
}

.culutre-box {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .culutre-box {
        display: block;
    }
}

.culture .culutre-box p {
    font-weight: 300;
    color: #787878;
}

 .culture .culutre-box h3 {
    font-weight: 500;
} 


.map-box {
    padding: 6rem 3rem;
    background-color: #FFFFFF
}


.video-cover {
  max-width: 100%;
  border-radius: 1rem;
}

.jumbotron {
    color: #fff;
    padding: 100px 25px;
}
@media screen and (max-width: 768px) {
    .col-sm-5 {
        text-align: center;
        margin: 25px 0;
    }
}

.container-fluid {
    z-index: 3;
    position: relative;
}

.header-body .title-board .project-desc{
  color: #FFF;
  font-size: 2.5em;
  color: white;
  text-align: right;
  font-weight: lighter;
  margin-top: 15px;
}

.header-body .title-board  .project-title  {
  font-size: 4.6em;
  font-weight: normal;
  text-align: right;
  color: #FFF;
}


.header-body .item > img {
    width: 100%;
}

.header-body {
    background: linear-gradient(rgba(255, 84, 65, 0.30), rgba(255,85,66,0.6));
    z-index: 3;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 50px;
}

.project-title {
    color: white;
    font-size: 30px;
}

.map {
    max-width: 100%;
    border-radius: 1rem;
}

.goods {
    background-color: #f6f6f6;
    padding: 0 2rem 4rem 1.5rem;
}

.goods-title {
    font-weight: 500;
    padding: 4rem 0 0.2rem 0;
}

.thumbnail {
    padding: 0 0 2rem 0;
    margin: 1rem 1rem;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.goods p {
    font-weight: 400;
    color: #9B9B9B;
    font-size: 0.8rem;
}

.goods p strong {
    color: #ff5542;
}

.goods-box {
    display: flex;
    justify-content: center;
}

.good-item {
    width: 23%;
    display: inline-block;
    margin: 1rem 0 2rem 2rem;
}

.good-item:hover {
    -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.1), 0px 2px 10px rgba(0,0,0,0.1);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

/* .good-item p {
    width: 30%;
} */

.commitments-title {
    padding: 1rem 0 2rem 0;
}



.commitments {
    padding: 0 8rem 4rem 8rem;
}

/* .commitments img {
    width: 100%;
    height: 100%;
} */

.commitments h4 {
    color: #FF5542;
    font-weight: 500;
    margin-top: 0.4rem;
}
.commitments p {
    color: #979797;
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: -0.5rem;
}

.commitments .commit-bottom {
    padding-top: 4rem;
}

@media screen and (max-width: 768px) {
    .commitments .commit {
        padding-top: 1rem;
    }
}

footer {
  color: white;
  background-color: #FF9488;
  padding: 20px;
}

footer .footer-title {
    color: #FFF;
}

footer a {
    color: #337ab7;
}

footer a:hover {
    color: #23527c;
    text-decoration: underline;
}

.declaration {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: normal;
}