

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}

.navbar-default .navbar-toggle .icon-bar:focus, .navbar-default .navbar-toggle .icon-bar:hover {
    color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.nav-operation {
  color: white;
  font-size: large;
  font-weight: 350;
}


#login-button {
    padding: 6px 16px;
    border: 1px solid #FFF;
    border-radius: 100px;
    top: 1.5px;
}

@media screen and (max-width: 991px) {
    #login-button {
        padding: 6px 16px;
        border: 1px solid #FFF;
        border-radius: 100px;
        top: 1.5px;
        left: 24px;;
    }
}

svg path {
    fill: transparent;
}

.logo {
    margin-top: -15px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-nav li a img:hover, .navbar-nav li.active a img {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.culture {
  background-color: #f6f6f6;
  padding: 4rem;
}

.culture-title {
    color: #ff5542;
}

.culutre-box {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .culutre-box {
        display: block;
    }
}

.culture .culutre-box p {
    font-weight: 300;
    color: #787878;
}

 .culture .culutre-box h3 {
    font-weight: 500;
} 


.map-box {
    padding: 3rem;
    background-color: #FFFFFF
}


.video-cover {
  max-width: 100%;
  border-radius: 1rem;
}

.jumbotron {
    color: #fff;
    padding: 100px 25px;
}
@media screen and (max-width: 768px) {
    .col-sm-5 {
        text-align: center;
        margin: 25px 0;
    }
}

.title-board {
  color: white;
  background: linear-gradient(rgba(255,85,66,0.3), rgba(255,85,66,0.6));
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10% 0 10%;
  width: 100%;
  height: 100%;
  /* z-index: 10; */
  top: 0;
  left: 0;
}
/* 
.project-desc {
  font-size: 2em;
  color: white;
  text-align: right;
}

.project-title {
  font-size: 3em;
  font-weight: normal;
  text-align: right;
} */


.header-body .item > img {
    width: 100%;
}

.map {
    max-width: 100%;
    border-radius: 1rem;
}

.goods {
    background-color: #f6f6f6;
    padding: 0 2rem 0 2rem;
}

.goods-title {
    font-weight: 500;
    padding: 1rem 0;
}

.thumbnail {
    padding: 0 0 1rem 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.goods p {
    font-weight: 300;
    color: #9B9B9B;
    padding: 0 1rem;
}

.goods p strong {
    color: #ff5542;
}

.goods-box {
    display: flex;
    justify-content: center;
}

.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}

.commitments-title {
    padding: 1rem 0 2rem 0;
}

.commitments {
    padding: 0 6rem 4rem 6rem;
}

/* .commitments img {
    width: 100%;
    height: 100%;
} */

.commitments h4 {
    color: #FF5542;
    font-weight: 500;
    margin-top: 0.4rem;
}
.commitments p {
    color: #979797;
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: -0.5rem;
}

.commitments .commit-bottom {
    padding-top: 4rem;
}

@media screen and (max-width: 768px) {
    .commitments .commit {
        padding-top: 1rem;
    }
}

footer {
  color: white;
  background-color: #FF9488;
  padding: 20px;
}

footer a {
    color: #337ab7;
}

footer a:hover {
    color: #23527c;
    text-decoration: underline;
}

.declaration {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: normal;
}