.commitments {
    padding: 7% 10%;
    background-color: #FFF;
}

@media screen and (max-width: 768px) {
    .commitments {
        text-align: center;
        padding: 3rem 1rem;
    }
}

.commitments-title {
    padding: 1rem 0 2rem 0;
}

.commit {
    padding: 30px;
}

.commitments img {
    margin: 0 0 20px 0;
}

.commitments h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.commitments p {
    color: #979797;
    font-size: 1.2rem;
    font-weight: 300;
}

.commitments .commit-bottom {
    padding-top: 4rem;
}

@media screen and (max-width: 768px) {
    .commitments .commit {
        padding-top: 1rem;
    }

    .commitments p {
        font-size: 1rem;
    }
}
