.declaration {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: larger;
    margin: 20px 0 0 0;
  }

footer {
    background-color: rgba(255,85,66,0.8);
    padding: 2rem 0 3.5rem 0;
}

footer .footer-title {
    color: #FFF;
    font-size: 2rem;
}

footer a {
    color: #337ab7;
}


footer a {
    font-size: 24px;
    color: white;
}

footer .glyphicon {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
}

.glyphicon-chevron-up:before {
    content: "\e113";
}