
.header-body {
    width: 100%;
    height: 100%;
}

.header-body  .project-desc {
    color: #FFF;
    font-size: 2.5em;
    color: white;
    text-align: right;
    font-weight: 300;
    margin-top: 15px;
  }

  .header-body   .project-title  {
    font-size: 7.5rem;
    font-weight: normal;
    text-align: right;
    color: #FFF;
  }


  @media screen and (max-width: 768px) {
    .header-body   .project-title {
        font-size: 4.5rem;
    }

    .header-body  .project-desc {
        font-size: 1.5rem;
        width: 100%;

    }
}

@media screen and (max-width: 414px) {

    .header-body   .project-title {
        width: 100%;
        text-align: center;
    }

    .header-body  .project-desc {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 370px) {
    .header-body   .project-title {
        font-size: 4rem;
    }

    .header-body  .project-desc {
        font-size: 1.3rem;
        width: 100%;

    }
}


@media screen and (max-width: 330px) {
    .header-body   .project-title {
        font-size: 3.5rem;
    }

    .header-body  .project-desc {
        font-size: 1.2rem;
        width: 100%;

    }
}

  .header-body .item > img {
      width: 100%;
  }

  .header-body {
      background: linear-gradient(rgba(255, 84, 65, 0.30), rgba(255,85,66,0.6));
      z-index: 3;
      color: white;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 0 60px;
  }

.mouse {
    height: 30px;
    width: 22px;
    border-radius: 10px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    -webkit-animation: mouse-wheel 1.2s ease infinite;
    -moz-animation: mouse-wheel 1.2s ease infinite;
    height: 5px;
    width: 2px;
    display: block;
    margin: 7px auto;
    background: white;
    position: relative;
}

@keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

.mouse-box span {
    display: block;
    width: 9px;
    height: 9px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 5px 0 3px 6px;
}

.unu {
  margin-top: 6px;
}

.unu, .doi {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes mouse-scroll {

      0%   { opacity: 0;}
      50%  { opacity: .5;}
      100% { opacity: 1;}
    }
    @-moz-keyframes mouse-scroll {

      0%   { opacity: 0; }
      50%  { opacity: .5; }
      100% { opacity: 1; }
    }
    @-o-keyframes mouse-scroll {

      0%   { opacity: 0; }
      50%  { opacity: .5; }
      100% { opacity: 1; }
    }
    @keyframes mouse-scroll {

      0%   { opacity: 0; }
      50%  { opacity: .5; }
      100% { opacity: 1; }
    }


.mouse-box {
    position: absolute;
    left: 50%;
    top: 85%;

}