p {
  color: #787878;
  font-weight: lighter;
}

.navbar-custom {
  background: none;
  border: none;
  padding: 3%;
}

.nav-operation {
  color: white;
  font-size: large;
  font-weight: 300;
}

.login {
  border: 0.5px solid grey;
  border-radius: 5px;
}

.sector-title {
  color: #ff5542;
  text-align: center;
  padding: 3rem;
}

.project-title {
  font-size: 7rem;
  font-weight: normal;
  text-align: right;
}

button {
  color: white;
}

.project-desc {
  font-size: 4rem;
  color: white;
  text-align: right;
}

.title-board {
  color: white;
  background: linear-gradient(rgba(255,85,66,0.3), rgba(255,85,66,0.6));
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10% 0 10%;
  width: 100%;
  height: 100%;
  /* z-index: 10; */
  top: 0;
  left: 0;
}

/* Make sure images can stretch to the edge of the carousel. */
.item > img {
  width: 100%;
}

.culture {
  background-color: #f6f6f6;
  padding: 6rem;
  display: flex;
  align-items: center;
}

.video-cover {
  max-width: 100%;
  border-radius: 1rem;
}

.description {
  text-align: center;
  padding: 6rem;
  display: flex;
  align-items: center;
}

.map {
  position: relative;
  width: 70%;
  height: 70%;
  border-radius: 10px;
}

.map::after {
  content: '';
  position: absolute;
  z-index: -1; /* hide shadow behind image */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  width: 70%;
  left: 15%; /* one half of the remaining 30% */
  height: 100px;
  bottom: 0;
}

footer {
  color: white;
  background-color: #FF9488;
  padding: 20px;
}

.declaration {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: normal;
}

/* Styles for login modal. */
.modal-dialog {
  width: 70%;
}
.modal-header, .close {
  text-align: center;
  padding: 2rem;;
}

.close {
  width: 10%;
  height: 10%;
}

.form-group {
  margin: 2rem 0;
}
