.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}

.navbar-default .navbar-toggle .icon-bar:focus, .navbar-default .navbar-toggle .icon-bar:hover {
    color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
  }


.navbar {
    background-color: rgba(255, 255, 255, 0.9); 
    -webkit-backdrop-filter: blur(20px);
}

.navbar-transparent {
    background-color: transparent;
}

.nav-operation {
  color: white;
  font-size: large;
  font-weight: 350;
}


/*

    login button
*/



@media (min-width: 768px) {
    .navbar>.container .navbar-brand {
        margin-left: -70px;
    }
}

.navbar>.container .navbar-brand {
    margin-left: 0px;
}

#login-button {
    padding: 6px 16px;
    top: 1.5px;
}

.navbar-transparent #login-button {
    border: 1px solid #FFF;
    border-radius: 100px;
}


.nav .navbar-nav li a:hover, .nav .navbar-nav li.active a {
    background-color: transparent;
}

@media screen and (max-width: 991px) {
    #login-button {
        padding: 6px 16px;
        border: 1px solid #FFF;
        border-radius: 100px;
        top: 1.5px;
        left: 24px;;
    }
}

svg path {
    fill: transparent;
}

@media screen and (max-width: 414px) { 
    svg {
        height: 40px;
        width: 53px;
    }

    .navbar>.container .navbar-brand {
        margin-left: 15px;
    }
}

.logo {
    margin-top: -15px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
}

.navbar-nav li a img:hover, .navbar-nav li.active a img {
    color: #f4511e !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-transparent .navbar-nav > li > a:not(.btn), [class*="navbar-ct"] .navbar-nav > li > a:not(.btn) {
    font-size: 22px;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
    font-size: 19px;
}




.navbar-fixed-bottom, .navbar-fixed-top {
    z-index: 990;
}

.setting-popover-box {
    padding: 10px;
}

.setting-popover-box a {
    font-size: 20px;
    
    color: #AAA;
}

.setting-popover-box a:first-child {
    
}

.setting-popover-box a:hover {
    color: #f4511e;
}

.setting-popover-box .setting-popover-box-item1 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px 0;
}