.partner {
    background-color: #C4C4C4;
    padding: 7%;
}

/* .tab-box {
    padding-top: 80px;
    padding-bottom: 80px;
} */



.tab-box .col-sm-6 {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab-box .left-title {
    justify-content: flex-end;
    border-right: 1px solid hsla(0,0%,88%,.2);
}

.tab-box .left-title h2 {
    padding-right: 40px;
    font-size: 36px;
    font-weight: 500;
    color: white;
}


.tab-box .right-line-height {
    padding-left: 40px;
    color: white;
}

.tab-box .right-line-height .desc {
    margin-bottom: 10px;
    text-decoration: 1px;
    font-size: 20px;
}

