.partner {
    background-color: #C4C4C4;
    padding: 7%;
}

/* .tab-box {
    padding-top: 80px;
    padding-bottom: 80px;
} */

.header-bg {
    background-color: #F7F9FA;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
    transition: -webkit-filter 0.2s ease, background-image 0.2s ease;
    background: linear-gradient(223deg, #9ce8dd, #a993da, #F0CB54, #6D93A3);
    background-size: 600% 600%;
    -webkit-animation: bg-generator 50s ease infinite;
    animation: bg-generator 50s ease infinite;
  }
  
  @keyframes bg-generator {
    0% {background-position: 0% 84%;}
    50% {background-position: 100% 17%;}
    100% {background-position: 0% 84%;}
  }



.tab-box .col-sm-6 {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab-box .left-title {
    justify-content: flex-end;
    border-right: 1px solid hsla(0,0%,88%,.2);
}


@media screen and (max-width: 768px) {
    .tab-box .left-title {
        border: none;
    }
}

.tab-box .left-title h2 {
    padding-right: 40px;
    font-size: 36px;
    font-weight: 500;
    color: white;
}


.tab-box .right-line-height {
    padding-left: 40px;
    color: white;
}

@media screen and (max-width: 768px) {
    .tab-box .col-sm-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .tab-box .right-line-height {
        padding-left: 0;
    }

    .tab-box .left-title h2 {
        padding-right: 0;
        margin-bottom: 20px;
    }
    
}

.tab-box .right-line-height .desc {
    margin-bottom: 10px;
    text-decoration: 1px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .tab-box .right-line-height .desc {
        margin-bottom: 40px;
    }
}

.tab-box .right-line-height .download {
    padding: 5px;
}

