.register-nav-bar {
    width: 100%;
    height: 90px;
}

.register-pull-right {
    color: #FFF;
}

.register-logo {
    margin-top: 30px;
}

.register-nav-bar svg g {
    stroke: #000;
}

.register-box-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-box-row-item {
    width: 300px;
}

.register-box-row h4 {
    font-size: 24px;
    font-weight: normal;
}

.already-user {
    margin-top: 48px;
    padding: 32px 0;
    font-size: 14px;
    border-top: 1px solid #edf0f2;
}

.text-blue {
    color: #108ee9;
    font-weight: bold;
}

.register-box {
    margin: 3rem 0;
}

.ant-input-affix-wrapper .ant-input {
    height: 44px;
    line-height: 44px;
    font-size: 14px;
}

.ant-btn-lg {
    height: 44px;
}

.has-success.has-feedback:after, .has-warning.has-feedback:after, .has-error.has-feedback:after, .is-validating.has-feedback:after {
    height: 44px;
    width: 44px;
    line-height: 44px;
}

.il_footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 24px 0;
    background-color: #f7f9fa;
    font-size: 14px;
}

.project-name {
    color: #0e2026;
    margin-right: 100px;
}

.license {
    color: #a6aeb3;
}