.goods {
    background-color: #f6f6f6;
    padding: 7rem 2rem 4rem 1.5rem;
}

@media screen and (max-width: 768px) {
    .goods {
        padding: 3rem 0;
    }
}

.goods-title {
    font-weight: 500;
    padding: 4rem 0 0.2rem 0;
}

.thumbnail {
    padding: 0 0 2rem 0;
    margin: 1rem 1rem;
}

.thumbnail img {
    width: 100%;
    height: 16rem;
    margin-bottom: 20px;
}

.goods p {
    font-weight: lighter;
    color: #9B9B9B;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.goods p strong {
    color: #ff5542;
    font-size: 1.2rem;
}

.goods-box {
    display: flex;
    justify-content: center;
}

.good-item {
    width: 23%;
    display: inline-block;
    margin: 0.5rem 0 0.5rem 1rem;
}

@media all and (max-width: 600px) {
    .good-item {
        width: 80%;
        display: inline-block;
        margin: 0.5rem 0 0.5rem 0;
    }
}

.thumbnail {
    border: none;
}

.good-item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.1), 0px 2px 10px rgba(0,0,0,0.1);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

/* .good-item p {
    width: 30%;
} */