.modal.ide {
    z-index: 1000;
}

.modal {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.9);
    display: table;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
}

.modal.content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.video-box {
    display: none;
}