.login {
  border: 0.5px solid grey;
  border-radius: 5px;
}

.title-board {
  color: white;
   background: linear-gradient(rgba(255,85,66,0.3), rgba(255,85,66,0.6)); 
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10% 0 10%; 
  width: 100%;
  height: 100%;
  /* z-index: 10; */
  top: 0;
  left: 0;
}
 
.header-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
} 

.header-bar .navbar-custom {
  background: none;
  border: none;
}

.culture {
  background-color: #f6f6f6;
}

.video-cover {
  max-width: 100%;
}

.map {
  max-width: 100%;
}

footer {
  color: white;
  background-color: #FF9488;
  padding: 20px;
}